train_config:
  alias: ""
  save_path: reproduction
  env: var_voltage_control
  mode: distributed

  alg: ??? # [maddpg, iddpg, ippo, matd3, matd3, maddpg, mappo]
  scenario: ??? # [case33_3min_final, case141_3min_final, case322_3min_final]
  voltage_barrier_type: ??? # [l1, l2, bowl]

disturbances: ???