defaults:
  - default
  - _self_

eval_config:
  save_path: reproduction/model_save
  alg: maddpg
  alias: 0
  scenario: case33_3min_final
  voltage_barrier_type: bowl
  test_mode: batch
  test_day: 730

disturbances:
  - type: load_change
    is_random: False
    start_at: 100
    end_at: 200
    disturbance_args:
      multiplier: 2
  - type: load_change
    is_random: True
    random_probability: 0.002 # for 480 episodes length, 480 * 0.002 = 0.96, so on average 1 episode will have 1 disturbance
    disturbance_args:
      multiplier: 2
